@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body
    {
        background-color: #F1F1F1;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/Bono/Index">Finance Wheel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Calcular" ? "nav-item active" : "nav-item")">
                    <a class="nav-link" href="/Bono/Calcular">Calcular</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Listar" ? "nav-item active" : "nav-item")">
                    <a class="nav-link" href="/Bono/Listar">Listar</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                @Html.ActionLink("Logout","","",new { @class = "btn btn-danger" })
            </form>
        </div>
    </div>
</nav>
<div class="container pt-5">
    @RenderBody()
</div>


